.categoriesContainer {
  background: var(--white);
  border-radius: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(5, 1fr);
  padding: 30px;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.25s;
}

.category {
  border-radius: 30px;
  background-color: #ccc;
  width: 100%;
  aspect-ratio: 1;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: 0.25s;
}

.category:hover {
  box-shadow: 0 0 0 3px #fff, 0 0 0 6px;
}

.category img {
  filter: blur(3px);
}

.category span {
  width: 90%;
  padding: 5px;
  position: absolute;
  background: #ffffff;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-align: center;
}
