.settings {
  margin: auto;
  margin-right: 0;
  position: relative;
}

.settingsLogo {
  font-size: 30px;
  transition: 0.5s;
}

.logoRotate {
  transform: rotate(90deg);
}

@keyframes settingsOpen {
  from {
    width: 30px;
    opacity: 0;
  }
  to {
    width: 250px;
    opacity: 1;
  }
}

@keyframes settingsClose {
  from {
    width: 250px;
    opacity: 1;
  }
  to {
    width: 30px;
    opacity: 0;
  }
}

.settingsContainer {
  display: flex;
  position: absolute;
  width: 300px;
  height: fit-content;
  border-radius: 30px;
  right: 0;
  top: 60px;
  overflow: hidden;
  z-index: 50;
  transition: 0.25s;
  background: var(--white);
  box-shadow: 0 0 5px 0px #000;
}

.openSettings {
  animation: settingsOpen 0.5s;
}

.closeSettings {
  animation: settingsClose 0.5s;
}

.settingsDisplay {
  width: 100%;
  aspect-ratio: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.settingsControl {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  position: relative;
  margin: 20px 0;
}

.themeColor {
  border-radius: 50%;
  width: 30px;
  aspect-ratio: 1;
  transition: 0.25s;
  cursor: pointer;
}

.themeColor:hover {
  box-shadow: 0 0 0 3px #ccc;
}

.activeTheme {
  box-shadow: 0 0 0 3px #555;
}

.activeTheme:hover {
  box-shadow: 0 0 0 3px #555;
}

.icon {
  font-size: 30px;
  padding: 5px;
  border-radius: 50%;
  aspect-ratio: 1;
  cursor: pointer;
  transition: 0.25s;
}

.icon:hover {
  box-shadow: 0 0 0 3px #ccc;
}

.gameSetting {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gameSetting:hover {
  box-shadow: 0 0 0 3px #ccc;
  transition: 0.25s;
}

.settingName {
  position: absolute;
  font-size: 20px;
  color: #222;
  left: 0;
  top: -30px;
}

.activeIcon {
  box-shadow: 0 0 0 3px #555;
}

.activeIcon:hover {
  box-shadow: 0 0 0 3px #555;
}
